@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
        
body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

p {
    margin: 0px 0px 0px 0px;
}

.blue_text {
    color: #3B5998;
}

#login_button {
    width: 400px;
    height: 50px;
    overflow: hidden;
    margin: 150px auto 0px auto;
    
    cursor: pointer;
}

#login_button:hover #app_label{
    margin-top: -50px;
    
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webit-transition-duration: 0.5s;
}

#login_label, #logout_label {
    font-size: 36px;
}

#logout_label {
    display: none;
}

#app_label {
    display: block;
    font-size: 42px;
    
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webit-transition-duration: 0.5s;
}

#results_container {
    width: 400px;
    margin: 60px auto 0px auto;
    
    display: none;
}

#results {
    font-size: 58px;
}